@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 숨김 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

/* 스크롤바 썸네일 숨김 */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("../fonts/PretendardJP-Regular.otf") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: "Pretendard-Regular";
}
